* {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px 8px 20.58px;
	border-bottom: solid 1px #dbdbdb;
}
.nav-title {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.search-btn {
	width: 120px;
	height: 44px;
	font-size: 14px;
	background-color: #81d8d0;
	color: white;
	border-radius: 44px;
	border: none;
	cursor: pointer;
}

.home-container {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	background-color: dodgerblue;
}

.bottom-nav {
	position: fixed;
	width: 100%;
	height: 50px;
	display: flex;
	border-top: solid 1px #dbdbdb;
}

.nav-icon {
	width: 24px;
	height: 24px;
}

.nav-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 4px;
	font-size: 10px;
	color: #767676;
	text-decoration: none;
	padding: 12px 0px 6px 0px;
}
/* -------- */

.col-1 {
	flex: 1;
}

.msg-row {
	display: flex;
	align-items: center;
	margin: 40px;
}
.msg-text {
	background-color: blue;
	padding: 10px 20px;
	border-radius: 10px 10px 10px 0px;
}
.chat {
	width: fit-content;
	color: white;
}
.msg-text2 {
	background-color: blue;
	padding: 10px 20px;
	border-radius: 10px 10px 0px;
}
.profile-img {
	width: 30px;
	height: 30px;
	margin: 0 20px;
}
.msg-row2 {
	justify-content: flex-end;
}
.time {
	margin: 20px;
	font-size: 10px;
}
