* {
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20px 16px;
}
.right-card {
	position: relative;
}
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.userDetails .span {
	display: block;
}
.profile_img {
	position: relative;
	width: 42px;
	height: 42px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 12px;
	display: block;
	top: 0;
	left: 0;
}

.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}

.span-name {
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.span-id {
	font-size: 12px;
	color: #767676;
	margin-left: 0;
}
.dot {
	width: 18px;
	height: 18px;
	cursor: pointer;
}
.text-post {
	margin-top: 16px;
	font-size: 14px;
}
.imgBx {
	position: relative;
	width: 100%;
	height: 260px;
	margin-top: 16px;
	border-radius: 10px;
	overflow: hidden;
}

.icons {
	display: flex;
	gap: 16px;

	margin-top: 12px;
}
.icons img {
	width: 20px;
	height: 20px;
	margin-right: 6px;
}
.icons span {
	font-size: 12px;
	color: #767676;
	text-align: center;
}
.date {
	margin-top: 16px;
	font-size: 10px;
	color: #767676;
}
