@import url('./normalize.css');

* {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: 1.2rem;
}

span {
	font-size: 1.2rem;
}

.login-container {
	width: 100%;
	gap: 20px;
	margin: 0 auto;
	padding: 30px 34px 0px 34px;
	box-sizing: border-box;
}

.login {
	display: block;
	text-align: center;
	font-size: 2.4rem;
}

.form-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.email,
.password {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-wrap span {
	margin-top: -8px;
	color: #eb5757;
}

.input-style {
	border: none;
	border-bottom: 1px solid #dbdbdb;
}

.login-btn {
	font-size: 1.4rem;
	background-color: #81d8d0;
	opacity: 0.3;
	display: block;
	width: 100%;
	color: white;
	height: 48px;
	border-radius: 44px;
	border: none;
}

input:focus {
	outline: none;
	border-color: #81d8d0;
}

.signup-container {
	text-align: center;
	margin-top: 20px;
}

.label-style {
	color: #767676;
	font-size: 1.2rem;
}
